.comments__slider {
	padding-bottom: 100px;
}
.client__wrapper {
	text-align: right;
	width: 50%;
	float: left;
	padding-right: 98px;
}
.client:focus, .client:active {
	outline: none;
}
.client__name {
	position: relative;
	display: inline-block;
	margin: 0; 
}
.client__name.single-title::after {
	position: absolute;
	right: 0;
}
.client__name.single-title::after {
	margin: 10px 0 30px;
}
.client__comment {
	display: block;
	float: right;
	width: 50%;
	font-family: 'ml';
	font-size: 18px;
	line-height: 27px;
	color: #656565;
	margin: 0;
	padding-right: 70px;
}
.client__image::before {
	content: '';
	display: block;
	clear: both;
}
.client__image {
	margin: 0 -14px;
}
.client__photo {
	width: 266px;
	height: 140px;
	display: block;
	float: left;
	margin: 65px 14px 0;
}
.comments .slick-dots {
	width: auto;
	height: auto;
	bottom: -80px;
	left: 50%;
	margin-left: -40px;
}
.comments .slick-dots li button::before {
	content: '';
	width: 13px;
	height: 13px;
	border: 1px solid #000;
	border-radius: 50%;
	opacity: 1;
}
.comments .slick-dots li.slick-active button::before, 
.comments .slick-dots li button:hover:before, .slick-dots li button:focus:before {
	opacity: 1;
	background-color: #000;
}
@media screen and (max-width: 1192px) {
	.client__image {
		margin: 0 -5px;
	}
	.client__photo {
		margin: 65px 5px 0;
	}
}
@media screen and (max-width: 1136px) {
	.client__image {
		width: 52%;
		margin: 0 auto;
	}
	.client__photo {
		margin: 5px;
	}
	.client__image--wrapper {
		width: 552px;
		margin: 0 auto;
	}
} 
@media screen and (max-width: 1107px) {
	.client__image {
		width: 60%;
	}
} 
@media screen and (max-width: 970px) {
	.client__image {
		width: 70%;
	}
} 
@media screen and (max-width: 820px) {
	.client__image {
		width: 80%;
	}
} 
@media screen and (max-width: 720px) {
	.client__image {
		display: none;
	}
	.client__comment {
		padding-right: 5px;
	}
}
@media screen and (max-width: 500px) {
	.client__wrapper {
		float: none;
		width: 100%;
		text-align: center;
		padding: 0;
	}
	.client__comment {
		float: none;
		width: 100%;
		padding: 0;
	}
	.client__name.single-title::after {
		left: 50%;
		margin-left: -25.5px;
	}
}