.nav {
	float: right;
}
.nav__list {
	list-style-type: none;
	padding: 0;
	margin: 69px 0 0;
}
.nav__item {
	display: inline-block;
	margin-left: 30px;
}
.nav__link {
	text-decoration: none;
	color: #989898;
	font-family: 'ml';
	font-size: 18px;
	line-height: 24px;
}
.nav__link:hover {
	color: #000;
}
@media screen and (max-width: 665px) {
	.nav {
		float: none;
	}
	.nav__list {
		margin: 5px 0;
	}
	.nav__item {
		display: inline-block;
		margin-left: 10px;
	}
}